@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:ital,wght@1,100;1,300&display=swap');
:root{
	--primary-color:#e62f06;
	--secondary-color: beige;
	--font: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	font-family: var(--font);
	background: linear-gradient(to bottom,#020202,#333633,#757675);
}

nav {
	position: fixed;
	width: 100vw;
	height: 60px;
	border-top: .2rem solid var(--primary color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 999999;
	background-color: rgba(0, 0, 0);
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 55px;
	width: 15%;
	font-weight: 700;
	background: var(--primary-color);
	position: top-left;
}

.logo::before {
	content: "VALOR";
	color: white;
}
.logo::after {
	content: "LK";
	color: black;
}

#nav-bar{
	display: flex;
	align-items: center;
	height: 60px;
}

#nav-bar a, ul{
	text-decoration: none;
	color: var(--primary-color);
	margin: 0 2rem;
	text-transform: uppercase;
	font-family: var(--font);
	font-weight: 700;
	font-size: 16px;
}

#nav-bar li {
	list-style: none;
}
#nav-bar a:hover {
	color: #00ff04;
}
div{
	margin-top: 2%;
}
/*Editors Page CSS---------------------------------------------------------------------------------------------------------------------------*/
.main_head{
	color: rgb(233, 31, 4);
	font-family: 'Dancing Script','cursive;';
	margin: auto;
	width: 100%;
	text-align: center;
	text-shadow: 2px 2px #060606;
	margin-top:100px;
	font-size: 50px;
}
.line_row{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-flow: wrap;
	font-family: 'Poppins', sans-serif;
}
.student_details {
	height: 520px;
	width: 380px;
	margin-top: 100px;
	background: #f8faff;
	padding: 30px;
	box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.35);
	border-radius: 15px;
	margin-left: 50px;
	float: left;
	transition: 0.5s;
	transition: transform 0.3s;
	cursor: pointer;
}

.student_details:hover {
	background: linear-gradient(to bottom, #eb2f06, #f17474, #e9baba);
	color: white;
	transform:scale(1.1);
	box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.35);
}
			
.image{
	margin-left: 30px;
	margin-top: 100px;
	float: right;
}

#editor-img img{
	height: 410px;
	width: 320px;
	border-radius: 20%;
	transition: transform 0.5s;
}
h3{
	font-size: 28px;
	font-weight: 900;
}

h4{
	font-size: 20px;
	font-weight: 600;
}

.tasks{
	font-weight: 1000;
}

#info p{
	margin: 2%;
	font-weight: 500;
}
.student_details .button{
	text-decoration: none;
	background-color: #ff1100;
	color:white;
	border-radius:40px;
	padding:10px 10px;
	font-size:1.2em;
	font-weight:bold;
	float: right;
}
.student_details .button:hover{
	transform: scale(1.2);
}
/*Footer---------------------------------------------------------------------------------------------------------------------------------------*/
footer{
    background: rgba(0, 0, 0, 0.9);
	display: flex;
	flex-direction: row;
}
footer h2{
	color: white;
}
.no-bullet{
	list-style-type:none;
	padding-left: 0;
}
a{
	text-decoration: none;
}
footer ul{
	color: var(--primary-color);
}

a:hover { /*All anchor on hover*/
	text-decoration: none;
	color: #00ff04;
}
.justify-text{
	text-align: justify;
}
.footer-navigation{
	margin-left: 3px;
	margin-right: 30px;
	width: 50%;
	text-align: justify;
}
.footer-navigation ul{
	display: inline-block;
  	justify-content: center;
  	list-style: none;
  	margin: 0;
  	padding: 0;
}
.footer-navigation li{
	margin:0 10px;
	color: var(--primary-color);
}
footer a{
	text-decoration: none;
	color: var(--primary-color);
}
.footer-contact{/* contact section in footer */
	text-align: right;
	margin-left: 1px;
	margin-right: 2%;
	width: 50%;
	color: white;
}
.footer-hr{
	color: white;
	background-color: rgb(53, 53, 53);
	height: 1px;
	width: 100%;
}

.page-credits{/* page credits section */
	text-align: center;
	margin-bottom: 0;
	background-color: gray;
}
.page-credits a{/* page credits section */
	color: var(--primary-color);
	font-weight: bolder;
}
.page-credits a:hover{/* page credits section */
	color: #00ff04;
	font-weight: bolder;
}

footer .additional .additional-content{/* additional content section */
	position: relative;
	text-align: center;
	left: 35%;
	margin-bottom: 5px;
	margin-top: 15px;
	font-size: 24px;
	background-color: white;
	border-radius: 50px;
	width:30%;
}