@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Poppins:ital,wght@1,100;1,300&display=swap');

:root{
	--primary-color: #eb2f06;
	--secondary-color: beige;
	--font: 'Poppins', sans-serif;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
    background-image: url(pic.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

section P{
    padding: 8px;
}
.rules p{
    padding: 10px;
    font-weight: 700;
}

.container {
    text-align: center;
}

.brand-logo{
    font-size: 80px;
    color: beige;
    font-family: 'Dancing Script', 'cursive';
    width: 100%;
}

h4{
    color:beige;
    font-family: 'Poppins';
    font-size: 30px;
    display:block;
    margin-bottom: 5px;
    text-decoration: underline;
}

input[type="text"] {
    width: 55%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Poppins';
    text-align: center;
}

.submit-button {
    background-color: #01FFB9;
    color:black;
    border:none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px
}

.submit-button:hover {
    background-color: #01FF3D;
    color: black;
}

.rules-list {
    display: block;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-blue {
    background-color: #01FFB9;
    color:black;
    border:none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Poppins';
    
}
.btn-blue:hover{
    background-color: #01FF3D;
    color: black;
}




footer{
    background:rgba(0, 0, 0, 0.9);;
}
footer{/* footer main div css */
	display: flex;
	flex-direction: row;
}
footer h2{
	color: white;
}
.no-bullet{
	list-style-type:none;
	padding-left: 0;
}
a{
	text-decoration:none;
}
footer ul{
	color: #eb2f06;
    font-weight: bold;
}

a:hover { /*All anchor on hover*/
	text-decoration: none;
	color: #00ff04;
}
.justify-text{
	text-align: justify;
}
.footer-navigation{
	margin-left: 3px;
	margin-right: 30px;
	width: 50%;
	text-align: justify;
    font-family: "Poppins";
}
.footer-navigation ul{
	display: inline-block;
  	justify-content: center;
  	list-style: none;
  	margin: 0;
  	padding: 0;
}
.footer-navigation li{
	margin: 0;
	color: #eb2f06;;
}
footer a{
	text-decoration: none;
	color: #eb2f06;
}
.footer-contact{/* contact section in footer */
	text-align: right;
	margin-left: 1px;
	margin-right: 2%;
	width: 50%;
	color: white;
    font-family: "Poppins";
}
.footer-hr{
	color: white;
	background-color: rgb(53, 53, 53);
	height: 1px;
	width: 100%;
}

.page-credits{/* page credits section */
	text-align: center;
	margin-bottom: 0;
    font-family: "Poppins";
    background-color: gray;

}
.page-credits a{/* page credits section */
	color: red;
	font-weight: bolder;
}
.page-credits a:hover{/* page credits section */
	color: #00ff04;
	font-weight: bolder;
}

footer .additional .additional-content{/* additional content section */
	position: relative;
	text-align: center;
	left: 35%;
	margin-bottom: 5px;
	margin-top: 15px;
	font-size: 24px;
	background-color: white;
	border-radius: 50px;
	width:30%;
}
